@import "tailwindcss";

@theme {
  --color-primary: #4A6741;
  --color-primary-dark: #3A5233;
  --color-secondary: #D4CDBC;
  --color-accent: #C78D74;
  --color-background: #F9F7F2;
  --color-text-main: #2D302D;
  --color-text-muted: #6B706B;

  --color-success: #6B9080;
  --color-warning: #E9C46A;
  --color-danger: #E76F51;
}

body {
  background-color: var(--color-background);
  color: var(--color-text-main);
  font-family: Arial, Helvetica, sans-serif;
}

.section-title {
  @apply text-xl font-bold text-[var(--color-primary-dark)];
}